@font-face {
  font-family: 'Gotham Light';
  src: url(../fonts/Gotham-XLight.otf) format('opentype');
}

body {
  overflow-y: hidden;
  width: 220vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #2D3037;
  color: white;
}

nav div {
  display: block;
  width: 25vw;
  height: 25vw;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  font-size: 350%;
  border-radius: 15px;
  user-select: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

nav div:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 3px rgba(143,143,143,0.8);
}

section {
  width: 60vw;
  height: 60vh;
  border-radius: 15px;
  position: fixed;
  left: 20vw;
  text-align: center;
  font-size: 150%;
  background-color: #2D3037;
  color: white;
  box-shadow: 0px 0px 5px 3px rgba(143,143,143,0.8);
  transition: opacity 500ms ease-out;
  display: none;
  opacity: 0;
}

.arrowWrapper {
  position: absolute;
  width: 100%;
  user-select: none;
}

section i {
  margin: 10px;
  float: right;
  font-size: 105% !important;
  position: relative;
  cursor: pointer;
}

#emergency p {
  text-align: left;
  font-size: 90%;
}

#contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#data #dataContentWrapper {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#data #dataContentWrapper div {
  font-size: 80%;
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-top: 1%;

}

#data #header div {
  font-size: 100%;
  text-align: center;
}

#data #header {
  width: 65%;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
}

.output {
  display: inline-block !important;
}
