@font-face {
  font-family: 'Gotham Light';
  src: url(../fonts/Gotham-XLight.otf) format('opentype');
}

body {
  overflow-y: hidden;
  width: 170vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #2D3037;
  color: white;
}

#backBtn {
  color: white;
  position: fixed;
  top: 2vw;
  left: 2vw;
  font-size: 150%;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-radius: 50%;
}

#backBtn:hover {
  color: lightgray;
}

nav div {
  display: block;
  width: 25vw;
  height: 25vw;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vw;
  font-size: 350%;
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

nav div:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(143,143,143,0.8);
          box-shadow: 2px 2px 5px 3px rgba(143,143,143,0.8);
}

section {
  width: 60vw;
  height: 60vh;
  border-radius: 15px;
  position: fixed;
  left: 20vw;
  text-align: center;
  font-size: 150%;
  background-color: #2D3037;
  color: white;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(143,143,143,0.8);
          box-shadow: 0px 0px 5px 3px rgba(143,143,143,0.8);
  -webkit-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
  display: none;
  opacity: 0;
  overflow: hidden;
}

.arrowWrapper {
  position: absolute;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section i {
  margin: 10px;
  float: right;
  font-size: 105% !important;
  position: relative;
  cursor: pointer;
}

#weatherWrapper {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#emergency a:link {
  text-align: left;
  font-size: 90%;
  color: white;
  text-decoration: none;
}

#emergency a:hover {
  text-align: left;
  font-size: 90%;
  color: white;
}

#emergency a:visited {
  text-align: left;
  font-size: 90%;
  color: white;
}

#contentWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tableWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tableWrapper table {
  min-width: 20%;
  overflow-y: scroll;
  margin: 0 2% 2% 2%;
}

#data .tableWrapper table {
  width: 60%;
  overflow-y: scroll;
  margin: 0 2% 2% 2%;
}

.tableWrapper td {
  font-size: 70%;
  font-weight: 100;
}

#slopeState .tableWrapper tbody td, #liftState .tableWrapper tbody td {
  text-align: left;
  width: 55%;
}

.tableWrapper table thead td {
  font-size: 110% !important;
  font-weight: 600 !important;
  margin-bottom: 100%;
}

.exactName {
  width: 2vw !important;
}

#slopeState, #liftState {
  width: 90vw;
  left: 5vw;
}

#slopeState table i, #liftState table i {
  font-size: 15px !important;
  float: left;
  margin: 0.5% 0 0 0;
  cursor: default;
}

/* Skimap */

#skimap {
  width: 65%;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px 0px;
}
