body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
}
h1 {
  font-weight: normal;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-align: left;
}

#settings {
  width: 40vw;
}

button {
  border-radius: 5px;
  outline: none;
  border: #28a745;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #fff;
  padding: 7px;
  font-size: 100%;
  margin: 15px 15px 15px 0;
  user-select: none;
  cursor: pointer;
}

#verifyBtn {
  margin-top: 0;
}

input {
  outline: none;
  border: none;
  border-bottom: lightgray 2px solid;
  height: 1.5vw;
  width: 20vw;
  display: block;
  font-size: 100%;
  transition: border-bottom 250ms ease;
  cursor: text;
}

span {
  user-select: none;
  position: relative;
  left: 0;
  transition: font-size 250ms, top 250ms;
  pointer-events: none;
  font-weight: 100;
  font-size: 12pt;
  top: 1.25vw;
}

input:focus {
  border-bottom: darkblue 2px solid;
}

p {
  font-size: 130%;
  user-select: none;
}

#deleteBtn {
  border: #F44336;
  background-color: #F44336;
  background-image: linear-gradient(-180deg,#F44336,#cf1f12 90%);
}

.passwordVisibility {
  position: relative;
  left: 0;
  top: 0.5vmin;
}
