body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: center;
  overflow-x: hidden;
}
h1 {
  font-weight: normal;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-align: left;
}

#settings {
  width: 40vw;
}

button {
  border-radius: 5px;
  outline: none;
  border: #28a745;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #fff;
  padding: 7px;
  font-size: 100%;
  margin: 15px 15px 15px 0;
  user-select: none;
  cursor: pointer;
}

#verifyBtn {
  margin-top: 0;
}

input {
  border-radius: 5px;
  outline: none;
  border: #1a73e8 2px solid;
  padding: 7px;
  color: black;
  font-size: 100%;
}

p {
  font-size: 130%;
  user-select: none;
}
