#images {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#images img {
  width: 60vw;
  position: relative;
  transition: opacity 250ms ease-out;
}

#iconWrapper {
  width: 60vw;
  position: absolute;
  display: flex;
  align-items: center;
}

#overflowWrapper {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px 0px;
}

.imgAnimation {
  animation: imageTransition 12000ms linear;
}

#iconWrapper i {
  font-size: 450%;
  z-index: 101;
}

#arrowRight {
  position: absolute;
  right: 0;
  animation: arrowRightAnim 1000ms ease-in-out infinite;
}

#arrowLeft {
  position: absolute;
  left: 0;
  animation: arrowLeftAnim 1000ms ease-in-out infinite;
}

@keyframes imageTransition {
  from {transform: scale(1)}
  to   {transform: scale(1.2)}
}

@keyframes arrowLeftAnim {
  0%   {left: 0}
  50%  {left: 10px}
  100% {left: 0}
}

@keyframes arrowRightAnim {
  0%   {right: 0}
  50%  {right: 10px}
  100% {right: 0}
}
