#slideshowWrapper {
  margin-top: 50px;
}

#images {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#images img {
  width: 40vw;
  position: relative;
}

#iconWrapper {
  width: 40vw;
  height: auto;
  position: absolute;
}

#iconWrapper i {
  font-size: 450%;
}

#arrowRight {
  position: absolute;
  right: 0;
  animation: arrowRightAnim 1000ms ease-in-out infinite;
}

#arrowLeft {
  position: absolute;
  left: 0;
  animation: arrowLeftAnim 1000ms ease-in-out infinite;
}

@keyframes arrowLeftAnim {
  0%   {left: 0}
  50%  {left: 10px}
  100% {left: 0}
}

@keyframes arrowRightAnim {
  0%   {right: 0}
  50%  {right: 10px}
  100% {right: 0}
}
