@font-face {
  font-family: 'Gotham Light';
  src: url(../fonts/Gotham-XLight.otf) format('opentype');
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/hornspitz2.jpg);
  background-repeat: space;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  overflow: hidden;
  font-family: 'Gotham Light';
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#wrapper {
  display: block;
}

#wrapper a {
  float: left;
  display: flex;
  justify-content: space-around;
}
/* nav {
  width: 100vw;
  height: 50vh;
}

div {
  width: 30%;
  height: 30%;
  display: inline-block;
  text-align: center;
} */

span {
  font-family: 'Sniglet', cursive;
  font-family: monospace;
  font-size: 600%;
}

/* @keyframes startAnimation {
  0%     {}
  3.81%  {}
  7.69%  {}
  11.5%  {}
  15.31% {}
  19,12% {}
  22.93% {}
  26.74% {}
  30.55% {}
  34.36% {}
  38.17% {}
  41.98% {}
  45.79% {}
  49.60% {}
  53.41% {}
  57.22% {}
  61.03% {}
  65.28% {}
  69.12% {}
  72.96% {}
  76.80% {}
  80.64% {}
  84.84% {}
  88.32% {}
  92.16% {}
  96.01% {}
  100.0% {}
} */
