@font-face {
  font-family: 'Gotham Light';
  src: url(../fonts/Gotham-XLight.otf) format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Gotham Light';

  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Home {
  display: block;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 350%;
  margin-top: 10;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-align: center;
  user-select: none;
  text-transform: uppercase;
}

h2 {
  font-size: 350%;
  margin-top: 5%;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-align: center;
  user-select: none;
  text-transform: uppercase;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  user-select: none;
  padding: 0 5vw 0 5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 110%;
  text-align: center;
  height: 7vh;
  background-color: white;
  font-weight: bold;
}

#accPopUp {
  display: none;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  width: 10vw;
  position: absolute;
  text-transform: none;
  background: white;
  font-weight: 100;
  padding: 0.5%;
  text-align: left;
  border-radius: 10px;
  box-shadow: 1px 3px 5px 0px rgba(143,143,143,1);
}

#accPopUp li {
  margin: 5%;
}

#accPopUp li i {
  margin-right: 5px;
}

#accountArrow {
  display: none;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a:link {
  transition: all 0.2s linear;
}

a:hover {
  box-shadow: 0px 4px 0px 0px rgba(143,143,143,1);
}

i {
  cursor: pointer;
}

section {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-repeat: space;
  background-size: cover;
  padding-top: 2%;
}

#homeSection {
  height: 70vh;
}

button:hover {
  cursor: pointer;
}

.alignToCenter {
  display: flex;
  justify-content: center;
}

#Account {
  font-family: 'Roboto', sans-serif;
}

#Account #anmelden  {
  width: 20vw;
}

#Account #anmelden input {
  border-radius: 5px;
  outline: none;
  border: #1a73e8 2px solid;
  padding: 10px;
  color: black;
  font-weight: thin;
  font-size: 100%;
  width: 20vw;
}

.accountElm {
  margin: 2%;
}

#loginBtn {
  background: #1a73e8;
  border-radius: 5px;
  outline: none;
  border: #1a73e8;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 100%;
  box-shadow: 1px 3px 5px 0px rgba(143,143,143,1);
  letter-spacing: .35px;
}

#signupBtn {
  background: white;
  border-radius: 5px;
  outline: none;
  border: white;
  padding: 10px;
  color: #1a73e8;
  font-weight: bold;
  font-size: 100%;
  box-shadow: 1px 3px 5px 0px rgba(143,143,143,1);
  letter-spacing: .35px;
}

#logoutBtn, #settings {
  cursor: pointer;
}

.errorField {
  display: none;
}

.contentWrapper {
  height: 50vh;
  width: 100vw;
  background-color: white;
  position: relative;
  top: 40vh;
}




/* @keyframes startAnimation {
  0%     {}
  3.81%  {}
  7.69%  {}
  11.5%  {}
  15.31% {}
  19,12% {}
  22.93% {}
  26.74% {}
  30.55% {}
  34.36% {}
  38.17% {}
  41.98% {}
  45.79% {}
  49.60% {}
  53.41% {}
  57.22% {}
  61.03% {}
  65.28% {}
  69.12% {}
  72.96% {}
  76.80% {}
  80.64% {}
  84.84% {}
  88.32% {}
  92.16% {}
  96.01% {}
  100.0% {}
} */
